oup.xml.zip
scoap3.archival.zip
scoap3.pdf.zip
standalone_admin_password.txt
webserver_config.py
env.sh
.env
airflow-webserver.pid
airflow.cfg
airflow.db
airflow.sh
env.sh
unzipped
downloaded_from_s3
downloaded
hepcrawl
logs
plugins
test
.idea